

body
{
background-image:url("index.jpeg");
background-repeat:no-repeat;
background-attachment:fixed
}

h1
{
color:red;
margin-left:40px;
}




body
{
background-color:pink;
}
h1
{
color:maroon;
margin-left:40px;



word-spacing:5px;
direction:center;
}
img{border:2px;/home/Sem6B10/Desktop;}
p.one
{
border-style:solid;
border-width:5px;
border-color:blue;
padding:25px 50px 75px 100px;
}



p.three
{
border-style:solid;
border-color:red green blue yellow;
margin:auto;

}


p.tree
{
border-top-style:dotted;
border-right-style:solid;
border-left-style:solid;
border-bottom-style:dotted;
}



p.tt{
margin:25px 50px 75px
100px;
}




#id4
{
border-style:solid;
margin:2cm;
padding:5px; 
border-color:green;
border-width:2px;
}


#id5
{
display:block;;
}


#id6{
 display:inline
}



span.a{
display:inline;
width:100px;
padding:5px;
border:1px solid blue;
background-color:red;
}


span.a1{
display:inline-block;
width:100px;
padding:5px;
border:1px solid blue;
background-color:green;
}






span.a2{
display:inline-block;
width:100px;
padding:5px;
border:1px solid blue;
background-color:yellow;
}





#id7{
color:black;
}


#id8{
color:green;
text-decoration:none;
}

#id9{
color:black;
padding:5px;
text-decoration:none;
border:2px solid green; width:100px;height:100px;
}

#id10{
text-decoration:none;
border:2px;
border:2px solid green; width:100px;height:100px;background-color:orange;

}




a.link{
color:red;
}

a.visited{
color:green;
}


a.hover
{
color:pink;
}

a.active{
color:orange;
}

















#id1
{color:red;font-size:45px;}
}
